@media screen and (max-width: 570px) {
    header, header nav {
        flex-flow: column nowrap;
    }

    header h1 {
        flex-basis: 50px;
    }

    header nav a {
        width: 90vw;
    }
}